Intraeci-war/src/conf/xml-resources/web-service-references/Convocatoria/wsdl/Convocatoria.xml.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_Convocatoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_ConvocatoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ConvocatoriaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_ConvocatoriaSoapIn">
    <wsdl:part name="parameters" element="tns:_Convocatoria" />
  </wsdl:message>
  <wsdl:message name="_ConvocatoriaSoapOut">
    <wsdl:part name="parameters" element="tns:_ConvocatoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="ConvocatoriaSoap">
    <wsdl:operation name="_Convocatoria">
      <wsdl:input message="tns:_ConvocatoriaSoapIn" />
      <wsdl:output message="tns:_ConvocatoriaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvocatoriaSoap" type="tns:ConvocatoriaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_Convocatoria">
      <soap:operation soapAction="http://tempuri.org/_Convocatoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConvocatoriaSoap12" type="tns:ConvocatoriaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_Convocatoria">
      <soap12:operation soapAction="http://tempuri.org/_Convocatoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Convocatoria">
    <wsdl:port name="ConvocatoriaSoap" binding="tns:ConvocatoriaSoap">
      <soap:address location="http://bpm.escuelaing.edu.co/WS/Convocatoria.asmx" />
    </wsdl:port>
    <wsdl:port name="ConvocatoriaSoap12" binding="tns:ConvocatoriaSoap12">
      <soap12:address location="http://bpm.escuelaing.edu.co/WS/Convocatoria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>